<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Facebook" href="{{ site.facebook }}" target="_blank">Facebook</i></a></li>
				<li><a title="Instagram" href="{{ site.instagram }}" target="_blank">Instagram</i></a></li>
				<li><a title="Houzz" href="{{ site.houzz }}" target="_blank">Houzz</a></li>
			</ul>
		</section>
	</div>
</footer>