<nav class="navbar navbar-expand-md navbar-light static-top bg-light">
  <a class="logo navbar-brand" title="{{ site.author }}" href="{{ site.baseurl | append: "/#" }}">
    <img src='/assets/images/logo/inline-logo2.png' alt="" style="max-height: 50px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navbar %}
          <li class="nav-item">
              <a class="nav-link" href="{{item.link}}" class="sr-only">
                {{ item.name }}
              </a>
          </li>
      {% endfor %} 
  </div>
</nav>
