.carousel-section {
    padding-top: 6.5rem;
    padding-bottom: 10rem;
}

.carousel-item {
    height: 50vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-logo {
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}